<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 facebook-block">
        <img src="{{ site.baseurl }}/assets/img/volant.png" alt="Volant badminton" class="volant-img facebook-shuttle float-end"/>
        <span class="main-title-social">Les actualités</span><br/>
        <span class="secondary-title-social float-end">#FACEBOOK</span>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div id="curator-feed-default-feed-layout">
        <a href="https://curator.io" target="_blank" class="crt-logo crt-tag" style="visibility: hidden;">Powered by Curator.io</a>
        </div>
        <script type="text/javascript">
            /* curator-feed-default-feed-layout */
            (function(){
                var i,e,d=document,s="script";
                i=d.createElement("script");
                i.async=1;
                i.charset="UTF-8";
                i.src="https://cdn.curator.io/published/de69171d-e6c9-41d0-bf48-650bba7ab48e.js";
                e=d.getElementsByTagName(s)[0];
                e.parentNode.insertBefore(i, e);
            })();
        </script>
    </div>
</div>
