<footer class="row">
  <div class="row first">
    <div class="col-lg order-lg-2"><img src="{{ site.baseurl }}/assets/img/logo_recbadminton.png" alt="logo"></div>
    <a class="col-lg order-lg-1" href="mailto:{{ site.data.contacts.email }}">{{site.data.contacts.email}}</a>
    <p class="col-lg order-lg-3">#RECBadminton</p>
  </div>
  <div class="middle d-flex flex-column flex-lg-row justify-content-center">
    {% for sponsor in site.data.sponsors %}
      <a class="text-center" href="{{ sponsor.url }}" target="_blank">
        <img src="{{ site.baseurl }}/assets/img/sponsors/{{ sponsor.fileName }}" alt="{{ sponsor.fileName }}" />
      </a>
    {% endfor %}
  </div>
  <div class="row last">
    <p class="col-lg text-lg-end text-center">@{{ site.time | date: '%Y' }} REC Badminton</p>
    <p class="col-lg text-center">Tous droits réservés</p>
    <a class="col-lg text-lg-start text-center" data-cc="c-settings">Mentions légales</a>
  </div>
</footer>
