<!-- Footer -->

<footer>
  <div class="container footer-container">
    <div class="row">
      <div class="col-lg-12 footer-content">
        <div class="row">
          <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-1">
            <div class="title-footer">
              <h3>CONTACT</h3>
              <hr/>
            </div>
            <div class="contact-item">
              <img src="/assets/img/icone-mail.png" alt="Email"/> <span>{{ site.data.contacts.email }}</span>
            </div>
          </div>
          <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2">
            <div class="title-footer">
              <h3>SUIVEZ-NOUS</h3>
              <hr/>
            </div>
            <ul class="social-icons">
              {% for social in site.data.socials %}
                <li class="social-icon">
                  <a href="{{ social.url }}" target="_blank"><img src="{{ social.img }}" alt="{{ social.name }}"/></a>
                </li>
              {% endfor %}
            </ul>
            <div class="copyright">
              @{{ site.annee }} Rec Badminton <br/>
              Tous droits réservés <br/>
              <a href="/mentions-legales/">Mentions légales</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 footer-content-mobile text-center">
        <div class="text-center">
          <div class="copyright">
            @{{ site.annee }} Rec Badminton - Tous droits réservés<br/>
            <a href="mentions-legales">Mentions légales</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
