{% if site.data.bandeau_info.message != nil %}
	<div class="bandeau fixed-top">{{ site.data.bandeau_info.message }}</div>
{% endif %}
<header>
  <nav class="navbar fixed-top navbar-expand-lg bg-light {% if site.data.bandeau_info.message != nil %}navbar-with-bandeau{% endif %}">
	  <div class="container-fluid">
	  	<a class="navbar-brand d-lg-none" href="/">
	  		<img class="logo" src="{{site.baseurl}}/assets/img/logo_recbadminton.png">
	  	</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse row" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	      	{% assign i = 0 %}
					{% for item in site.menus.header %}
					  {% if i == 3 %}
	      			<a class="col d-none d-lg-block" href="/">
								<div class="logo-wrap">
									<img class="nav-link bg-light" src="{{site.baseurl}}/assets/img/logo_recbadminton.png">
								</div>
					  	</a>
	      		{% endif %}
      			<a class="col text-center nav-link bg-light" href="{{ item.url }}"> {{ item.title | upcase }}</a>
					  {% assign i = i | plus:1 %}
					{% endfor %}
	      </div>
	    </div>
	  </div>
	</nav>
</header>
