{% if site.data.content.message != nil and site.data.content.message != '' %}
	<div class="bandeau fixed-top">{{ site.data.content.message }}</div>
{% endif %}
<header>
  <nav class="navbar fixed-top navbar-expand-lg bg-light {% if site.data.content.message != nil and site.data.content.message != '' %}navbar-with-bandeau{% endif %}">
	  <div class="container-fluid">
	  	<a class="navbar-brand d-lg-none" href="/">
	  		<img class="logo" src="{{site.baseurl}}/assets/img/logo_recbadminton.png" alt="Logo"/>
	  	</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse row" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	      	{% assign i = 0 %}
          {% for item in site.data.menus.header %}
            {% if i == 3 %}
              <a class="col d-none d-lg-block" href="/">
                <div class="logo-wrap">
                  <img class="nav-link bg-light" src="{{site.baseurl}}/assets/img/logo_recbadminton.png" alt="Logo"/>
                </div>
              </a>
            {% endif %}
              <a class="col text-center nav-link bg-light" href="{{site.baseurl}}{{ item.url }}"> {{ item.title | upcase }}</a>
            {% assign i = i | plus:1 %}
          {% endfor %}
	      </div>
	    </div>
	  </div>
	</nav>
</header>
