<div id="curator-feed-instagram-feed-layout">
    <a href="https://curator.io" target="_blank" class="crt-logo crt-tag" style="visibility: hidden;">Powered by Curator.io</a>
<div>
<script type="text/javascript">
    /* curator-feed-instagram-feed-layout */
    (function(){
        var i,e,d=document,s="script";
        i=d.createElement("script");
        i.async=1;
        i.charset="UTF-8";
        i.src="https://cdn.curator.io/published/2a3714c5-f36d-4f57-8eff-d9407604112a.js";
        e=d.getElementsByTagName(s)[0];
        e.parentNode.insertBefore(i, e);
    })();
</script>