<div class="row">
    <div class="col-md-6 instagram-block">
        <img src="/assets/img/volant.png" alt="Volant badminton" class="volant-img insta-shuttle float-end"/>
        <span class="background-color main-title-social">Les actualités</span><br/>
        <span class="float-end secondary-title-social brand-color">#INSTAGRAM</span>
    </div>
    <div class="col-md-6" style="padding-left: 0;padding-right: 0;">
       <div id="curator-feed-instagram-feed-layout">
            <a href="https://curator.io" target="_blank" class="crt-logo crt-tag" style="visibility: hidden;">Powered by Curator.io</a>
        <div>
        <script type="text/javascript">
            /* curator-feed-instagram-feed-layout */
            (function(){
                var i,e,d=document,s="script";
                i=d.createElement("script");
                i.async=1;
                i.charset="UTF-8";
                i.src="https://cdn.curator.io/published/2a3714c5-f36d-4f57-8eff-d9407604112a.js";
                e=d.getElementsByTagName(s)[0];
                e.parentNode.insertBefore(i, e);
            })();
        </script>
    </div>
</div>
<style>
    .crt-widget.crt-widget-branded, .crt-widget.crt-widget-branded, .crt-widget {
        padding-bottom: 0 !important;
    }

    .crt-logo {
        opacity: 0;
    }

</style>
