/**
 * Site footer
 */
 footer {
	color: $text-color;
	.footer-container {
		padding: 40px;
	}
    background-color: $background-color;
	padding: 0 !important;
	span {
		font-size: 15px;
	}
	min-height: 200px;
	.contact-item {
		margin-bottom: 10px;
		span {
			margin-left: 5px;
		}
	}
	.title-footer {
		margin-bottom: 60px;
		hr {
			position: absolute;
			width: 12%;
			border: 1px solid $brand-color;
			padding: inherit;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.social-icons {
		padding-left: 0;
		margin-bottom: 50px;
		list-style: none;
		display: flex;
		li {
			padding-right: 20px;
		}
	}
	.copyright a {
		text-decoration: underline;
	}
}

.footer-content-mobile {
	display: none;
}

@media only screen and (max-width: 575px) {
    .footer-content {
        display: none;
    }
    .footer-content-mobile {
        display: block;
        font-size: 14px;
    }
    footer {
        min-height: 50px !important;
    }
}
