<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body class="d-flex flex-column vh-100">

    {% include header.html %}

    <header class="page-header{% if site.data.content.message != nil and site.data.content.message != '' %} with-bandeau{% endif %}">
      <div class="col col-md-12 d-flex justify-content-center">
        <img src="/assets/img/volant.png" alt="Volant badminton" class="volant-img rotate-minus-90"/>
        <h1 class="page-title">{{ page.title }}</h1>
        <img src="/assets/img/volant.png" alt="Volant badminton" class="volant-img"/>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="wrapper col col-md-8 wrapper-content">
          <div class="page-content">
            {% if page.content_html %}
              {{ page.content_html | html }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
